html {
  background-color: paleturquoise;
}

header {
  background-color: mediumturquoise;
  border: 6px solid midnightblue;
  font-family: Garamond;
  padding-left: 30px;
  
}

nav {
  font-family: Garamond;
  padding-left: 60px;
}

#Home a {
    /
}

figcaption {
  font-family: Garamond;
  font-size: 15px
}

p {
  font-family: Garamond;
  font-size: 18px;
}